#!/bin/bash
# Run this on the machine to be puppet master.

[[ $1 == "run" ]] || {
    echo "$0 should be run only on the puppet machine."
    echo "Usage: $0 run"
    exit 1
}

[[ -f /etc/apt/sources.list.d/puppetlabs-pc1.list ]] || {
    echo Run puppet_base.sh first to configure APT repositories
}

apt-get install -y puppetserver
sed -i 's/^JAVA_ARGS.*/JAVA_ARGS="-Xms512m -Xmx512m"/' /etc/default/puppetserver
service puppetserver start

# Just for the sake of it, a basic enforcement of the preseed.
[[ -f /etc/puppetlabs/code/environments/production/manifests/site.pp ]] || {
    cat > /etc/puppetlabs/code/environments/production/manifests/site.pp <<EOF
node default {
    include site::base
}

class site::base {
    user { 'root':
        ensure   => present,
        password => '@@PASSWD_CRYPT@@',
    }

    user { 'debian':
        ensure   => present,
        require  => Package['sudo'],
        password => '@@PASSWD_CRYPT@@',
    }

    package { 'curl':
        ensure => installed,
    }

    package { 'sudo':
        ensure => installed,
    }

    package { 'vim':
        ensure => installed,
    }

    package { 'wget':
        ensure => installed,
    }

    file { '/etc/sudoers.d/debian':
        ensure  => file,
        content => "debian ALL=(ALL) NOPASSWD: ALL\nDefaults:debian !requiretty\n",
        mode    => '0440',
        require => Package['sudo'],
    }

    ssh_authorized_key { 'debian_authorized_keys':
        name => '@@KEY_NAME@@',
        user => 'debian',
        type => '@@KEY_TYPE@@',
        key  => '@@KEY@@',
    }
}
EOF
}
