#!/bin/bash
# Run this on the machines to be puppet agents.

[[ $1 == "run" ]] || {
    echo "$0 should be run only on the agent machines."
    echo "Usage: $0 run"
    exit 1
}

[[ -f /etc/apt/sources.list.d/puppetlabs-pc1.list ]] || {
    echo Run puppet_base.sh first to configure APT repositories
}

apt-get install -y puppet-agent
/opt/puppetlabs/bin/puppet resource service puppet ensure=running enable=true
